<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset-UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn CSS</title>
    <link rel="shortcut icon" href="../assets/img/programador.png" type="image/x-icon" >
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <p> hola mundo </p>
    <p class="text-success">Carlo Yael Carmona Ruiz</p>
</body>
</html>